body {
  background-color: rgb(9, 13, 38) !important;
}

.img{
  background-image: url("./assets/img/Thies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
  border-radius: 50px;
  background-position: center center;
  filter: brightness(90%) blur(0.25px);
}

.region{
  font-weight: 700;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left : 130px;
  top: 130px;
}

.data-temp{
  position: relative;
  left: -50px;
  top: 100px;
  width: 150px;
  height: 165px;
  padding-left: 15px;
  background-color: #818CF8;
  border-radius: 0 30% 25px 0;
}

.data-temp::before{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    height: 50px;
    width: 25px;
    left: 2px;
    border-top-left-radius: 25px;
    box-shadow: 0 -25px 0 0 #818CF8;
}

.tempt{
  font-size: 40px;
  padding-top: 80px;
  padding-left: 15px;
}

.icone{
  background-color: #4F46E5;
  z-index: 2;
  box-shadow: 0.5px 0.5px 0 0 #524bda;
  width: 150px;
  position: absolute;
  left : 0px;
  top: 0px;
  height: 90px;
  border-radius: 0 40px 40px 10px;
}

.icone::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 90px;
  left: 2px;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #4F46E5;
  transform: rotate(180deg);
}


.icon{
  width: 70px;
  height: 60px;

}

.weather-icon{
  padding-left: 30px;
  font-weight: 400;
  font-size: 20px;
}